<div id="feedback_button" class="black left normal"><a href="/feedback/">feedback</a></div>
<div id="feedback_drop" class="hiding"></div>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> -->
    <script src="http://malsup.github.com/jquery.form.js"></script> 
<div id="feedback_popup" class="hiding">
    <form id="ajax_test" class="feedback" action="/feedback/ajax{{ request.path }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="email error"> </div>
        <label for="email" style="color:black"><strong><big>Email</big></strong></label>
            <input name="email" required/>
        <div class="subject error"> </div>
        <label for="subject" style="color:black"><strong><big>Subject </big>(optional)</strong></label>
            <input name="subject"/>
            <input id="url_change" name="url" type="hidden"/>
            <input id="site_change" name="site" type="hidden" value="1"/>
        <div class="text error"> </div>
        <label for="text" style="color:black"><strong><big>Message</big></strong></label>
            <textarea name="text" required></textarea>
        <label for="Priority" style="color:black"><strong><big>Priority</big></strong><select name="Priority" required><option value="BU">Bug</option>
  <option value="BNU">Add new content</option>
  <option value="FT">Suggest a new feature</option>
  <option value="UX">User Experience</option></select></label>
       <label for="Photo" style="color:black" name="Photo"><strong><big>Please attach an image</big></strong> <input type="file" name="Photo"></input></label>
        <!-- <div class="buttons">
            <button>Send</button>
        </div> -->
        <input type="submit" class="btn btn-primary" style="margin-left: 35%;" value="Submit"/>
    </form>
    <div class="thanks hiding"><span style="color:black">Thank you for your feedback!<span></div>
    <div class="close"></div>
</div>

<script>
    $(function(){
        feedback.init({
            'button':$('#feedback_button'),
            'drop':$('#feedback_drop'),
            'popup':$('#feedback_popup')
        });
    });
</script>